.card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.facebook-btn {
  background-color: #3b5998;
}

.google-btn {
  background-color: white;
  @apply text-slate-800;
}

.btn {
  @apply w-80 px-10 py-4 flex items-center
  border border-gray-800 rounded
   text-xl font-semibold;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.btn:hover {
  @apply bg-gray-800 text-white;
}
